body {
  min-height: 300px;
}

.jumbotron {
  background-color: #f7c8e3;
  padding-top: 2rem;
}
.project {
  background-color: #f7c8e3;
  padding-top: 2rem;
}
footer{
  font-size: 20px;
}
.hati{
  color: #05f76a;
}
#about{
  padding-top: 5rem;
}
#project{
  padding-top: 4rem;
}